{% extends "base.html" %} 

{% block title %}Tisk Task - Cadastro{% endblock %}

{% block conteudo %}
</header>
    <h1 class="logo">Tisk Task</h1>
</header>
<div class="container-cadastro">
    <p>Faça cadastro para criar listas e manter os seus dados.</p>

    <form method="POST">
        {% csrf_token %} <!-- segurança -->
        {{ form.as_p }} <!-- chamando o formulario -->

        <button type="submit" class="btn-continue">
            Cadastre-se
        </button>
    </form>

    <a href="{% url 'login' %}">Já tenho conta</a> 

</div>

{% endblock %}