{% extends "base.html" %} 

{% block title %}Tisk Task - Home{% endblock %}

{% block conteudo %}

<header>
    <h1 class="logo">Tisk Task</h1>
    <button onclick="toggleSidebar()">☰</button>
</header>

<div id="sidebar" style="display: none; border-left: 1px solid black; height: 100vh; width: 250px; background-color: white; position: fixed; right: 0; top: 0; z-index: 9999; padding: 20px;">
    <div class="user">
        <!-- Icone de user -->
        <h2>{{ request.user.username }}</h2>
    </div>
    <div class="apagar-user">
        <p onclick="mostrarContinue()">Apagar conta</p>
        <div id="continue" style="display: none;">
            <p>Tem certeza que deseja apagar sua conta?</p>
            <button onclick="esconderContinue()">Não</button>
            <a href="{% url 'apagar_conta' %}" style="color: red;">Sim</a>
        </div>
    </div>
    <a href="{% url 'logout' %}">Sair da conta</a>
</div>

<div class="aside">
    <div class="filtros-prioridade">
        <h2>Esconder listas:</h2>
        <form method="GET" action="{% url 'home' %}">
            <label>
                <input type="checkbox" 
                    name="esconder_prioridade" 
                    value="baixa"
                    onchange="this.form.submit()"
                    {% if 'baixa' in prioridades_escondidas %}checked{% endif %}
                > 
                Prioridade Baixa
            </label>
        
            <label>
                <input type="checkbox" 
                    name="esconder_prioridade" 
                    value="media"
                    onchange="this.form.submit()"
                    {% if 'media' in prioridades_escondidas %}checked{% endif %}
                > 
                Prioridade Média
            </label>
            
            <label>
                <input type="checkbox" 
                    name="esconder_prioridade" 
                    value="alta"
                    onchange="this.form.submit()"
                    {% if 'alta' in prioridades_escondidas %}checked{% endif %}
                > 
                Prioridade Alta
            </label>
        </form>
    </div>
    <a href="{% url 'gerenciar_tags' %}">Gerenciar tags</a>
</div>

<div class="listas-container">
    {% for lista in listas %}
    <a href="{% url 'detalhe_lista' lista_id=lista.pk %}">
        <div class="lista-card {{ lista.prioridade }}">
            <h2>{{ lista.nome }}</h2>
            <div class="barra-progresso" style="width: {{ lista.calcular_progresso }}%; height: 10px; background-color: lightblue"></div>
        
            {% for tarefa in lista.tarefa_set.all|slice:":3" %}
                {% if not tarefa.concluido %}
                <p id="tarefa_{{ tarefa.id }}">{{ tarefa.nome }}</p>
                {% endif %}
            {% empty %}
                <p>Nenhuma tarefa nesta lista</p>
            {% endfor %}

            {% if lista.tarefa_set.count > 3 %}
                <p>...</p>
            {% endif %}
        </div>
    </a>
    {% empty %}
    {% endfor %}

    <a href="{% url 'adicionar_lista' %}" class="card-adicionar">+</a>
</div>

<script>
    function toggleSidebar() {
        const sidebar = document.getElementById('sidebar');
        // se estiver escondido, mostra como blcok, se não, esconde.
        if (sidebar.style.display === 'none' || sidebar.style.display === '') {
            sidebar.style.display = 'block';
        } else {
            sidebar.style.display = 'none';
            esconderContinue(); // fecha a confirmação de apagar conta ao fechar o menu
        }
        // se clicar fora, esconde
        document.addEventListener('click', (e) => {
            if (sidebar.style.display === 'block') {
                if (!sidebar.contains(e.target) && !btnToggle.contains(e.target)) {
                    sidebar.style.display = 'none';
                    esconderContinue();
                }
            }
        });
    }

    function mostrarContinue() {
        document.getElementById('continue').style.display = 'block';
    }

    function esconderContinue() {
        document.getElementById('continue').style.display = 'none';
    }
</script>

{% endblock %}