{% extends "base.html" %} 

{% block title %}Tisk Task - Login{% endblock %}

{% block conteudo %}
</header>
    <h1 class="logo">Tisk Task</h1>
</header>
<div class="container-login">
    <p>Bem vindo de volta!</p>

    <form method="POST">
        {% csrf_token %} <!-- segurança -->
        {{ form.as_p }} <!-- chamando o formulario -->

        {% if form.errors %}
            <ul class="errorlist">
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <button type="submit" class="btn-continue">
            Entrar
        </button>
    </form>
    <a href="{% url 'cadastro' %}">Não tenho conta</a>
</div>

{% endblock %}