{% extends "base.html" %} 

{% block title %}Tisk Task - Login{% endblock %}

{% block conteudo %}
<div style="text-align: center; width: 100%;">
    <h1 class="logo">Tisk-Task</h1>
</div>

<div class="container-login">
    <p>Bem vindo de volta!</p>

    <form method="POST">
        {% csrf_token %}
        
        {{ form.as_p }}

        {% if form.errors %}
            
        {% endif %}

        <button type="submit" class="btn-continue">
            Entrar
        </button>
    </form>

    <a href="{% url 'cadastro' %}">Não tenho conta</a>
</div>
{% endblock %}