.aside button.selected-alta {
    background-color: #ff5757;
}
.aside button.selected-media {
    background-color: #ffbd59;
}
.aside button.selected-baixa {
    background-color: #c1ff72;
}

.lista-card.alta h2 {
    background-color: #ff5757;
}
.lista-card.media h2 {
    background-color: #ffbd59;
}
.lista-card.baixa h2 {
    background-color: #c1ff72;
}